.botao {
  background-color: rgb(199, 193, 193);
  color: black;
  border-radius: 0px 25px 25px 0px;
  border: 1px solid black;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
  height: 50px;
  width: 150px;
  cursor: pointer;

}

.botao:hover {
  opacity: 0.8;
}

.botao:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.inputParticipante {
  size: 10px;
  border-radius: 25px 0px 0px 25px;
  border: 1px solid black;
  border-bottom: 5px solid black;
  border-right: 0px;
  width: 400px;
  height: 42px;
  text-align: center;

}

.divPrincipalFormulario{
  margin-bottom: 32px;


}

.alerta.erro {
  color: #842029;
  background-color: #f8d7da;
  padding: 16px;
  border: 1px solid #f5c2c7;
  border-radius: 8px;
}

@media screen and (max-width: 800px) {
  .alerta {
      margin: 48px 0;
  }
  .divPrincipalFormulario input {
      display: block;
      width: 100%;
      border-radius: 45px;
      box-shadow: 0px 2px 0px 1px #000000;    
      margin-bottom: 18px;
  }
  .divPrincipalFormulario button {
      display: block;
      margin-top: 16px;
      margin: 0 auto;
      width: 220px;
      border-radius: 45px;
  }
}
